include Makefile
include tox.ini
include *.rst
include Dockerfile
include requirements-dev.txt
recursive-include bin *.py
recursive-include src *.css
recursive-include src *.html
recursive-include src *.ico
recursive-include src *.md
recursive-include tests *.py
